/*reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}
body {
  font-family: Arial, "STHeiti", Helvetica, sans-serif;
  background: #fff;
  font-size: 14px;
  -webkit-tap-highlight-color: transparent;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
legend {
  display: none;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
}
html {
  -webkit-text-size-adjust: none;
  width: 100%;
  height: 100%;
}
/*????iphone??safari????????????*/
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="search"] {
  -webkit-appearance: none;
  border-radius: 0;
}
html,
body {
  position: relative;
  color: #333;
}
body {
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, 'Microsoft yaHei', sans-serif;
}
img {
  vertical-align: middle;
  border: 0;
}
a,
a:hover,
a:focus {
  color: #1B242F;
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
/***
*������
**/
.header {
  text-align: center;
  padding: 2em 0;
}
.logo {
  padding: 0 0 3em 0;
}
.logo a {
  display: block;
  text-align: center;
}
.logo a img {
  margin: 0 auto;
}
.header-bottom {
  position: relative;
  padding: 1em 0 0.8em;
  border-bottom: 1px solid #5f5e5e;
  border-top: 1px solid #5f5e5e;
}
.head-nav {
  float: left;
}
.head-nav ul {
  padding: 0;
  margin: 0;
}
.head-nav ul > li {
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 0 0 0 0;
  margin: 0 10px;
}
.head-nav ul > li a {
  position: relative;
  display: inline-block;
  padding: 8px 0;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 16px;
  color: #8d8c8c;
}
.head-nav em {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 4px;
  background: #e6a549;
  opacity: 0;
  transition: all 0.3s ;
  transform: translateY(10px);
}
.head-nav li.head-active em {
  opacity: 1;
  transform: translateY(0);
}
.head-nav li:hover em {
  opacity: 1;
  transform: translateY(0);
}
.menu {
  padding: 3px 5px;
  border: 2px solid transparent;
  border-radius: 2px;
  display: none;
  transition: all 0.3s ease-in;
}
.menu:hover {
  border: 2px solid #d4a258;
}
.menu i {
  display: block;
  width: 20px;
  height: 5px;
  background: #d4a258;
  margin: 3px 0;
}
/***************footer*******************/
.footer {
  background: url(../img/foot.png) no-repeat fixed bottom;
  background-size: cover;
  -webkit-background-size: cover;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20px 0;
}
.social ul {
  padding: 0;
  margin: 0;
}
.social ul li {
  display: inline-block;
  padding: 0 0.5em;
}
/**************ý����ѯ*****************/
@media (min-width: 769px) {
  .scroll-show {
    width: 100%;
    height: 337px;
    background: #fff;
  }
  .scroll-show .head-bg {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    position: fixed;
    top: -49.4px;
    left: 0;
    z-index: 999;
    background: #eee;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
    animation: show-head 0.3s ease-in forwards;
  }
  .scroll-show .container {
    padding: 0;
  }
  .scroll-show .container .logo {
    width: 156px;
    height: 49.4px;
    padding: 0;
    float: left;
  }
  .scroll-show .container .header-bottom {
    box-sizing: border-box;
    width: 100%;
    padding: 8px 0 6px 162.5px;
    border: none;
  }
  .scroll-show .container .header-bottom ul > li {
    margin: 0 10px;
  }
  @keyframes show-head {
    0% {
      top: -49.4px;
    }
    100% {
      top: 0;
    }
  }
}
@media (max-width: 768px) {
  .header {
    padding: 0;
  }
  .header-bottom {
    padding: 0;
    border-bottom: 1px solid #5f5e5e;
    border-top: none;
  }
  .logo {
    padding: 1em 0;
    float: left;
  }
  .head-nav span.menu {
    position: absolute;
    top: 3em;
    right: 2em;
    display: inline-block;
  }
  .head-nav ul {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 7em;
    z-index: 999;
    width: 100%;
    height: 0;
    background: #556A7F;
    transition: all 0.2s ease-in;
    overflow: hidden;
    display: block;
    float: none;
  }
  .head-nav ul > li {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 0 10px;
    margin: 0;
  }
  .head-nav ul > li a {
    display: block;
    width: 100%;
    color: #fff;
    font-size: 1em;
    margin: 0.8em 0em;
  }
  .header ul.head-slide {
    height: 350px;
  }
}
/***********************��ʼ��ҳ��*************************/
/******�����ֲ�*******/
.carousel-indicators .active {
  background: #e6a549;
  border-color: #e6a549;
}
.carousel-control span.glyphicon {
  opacity: 0;
}
.carousel-control:hover span.glyphicon {
  opacity: 0.5;
}
/***********���ҽ���****************/
.about-me {
  margin: 4em 0;
}
.about-me h3 {
  font-size: 1.6em;
  font-weight: 500;
  text-align: center;
  padding: 2em;
  color: #3b3b3b;
  box-shadow: 1px 0px 5px 0px #BBB9B9;
  line-height: 1.8em;
  margin: 0;
  transition: all 0.3s ease-in;
  font-style: italic;
}
.about-me h3:hover {
  box-shadow: 5px 0px 10px 0px #BBB9B9;
}
/*******ͼƬչʾ********/
.pictures-view .col-xs-3 {
  padding: 0;
  overflow: hidden;
}
.pictures-view .col-xs-3 img {
  transition: all 0.3s ease-in;
}
.pictures-view .col-xs-3 img:hover {
  transform: scale(1.05);
}
.swipebox-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  display: none;
  z-index: 9999;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background: rgba(13, 13, 13, 0.9);
}
.swipebox-slider {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0;
  white-space: nowrap;
  position: absolute;
  margin: 0;
  font-size: 0;
}
.swipebox-slider-show {
  transition: all 0.5s ease;
}
.swipebox-slider .img-slide {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 0;
}
.swipebox-slider .img-slide img {
  margin: 0;
  padding: 0;
  max-height: 100%;
  max-width: 100%;
  width: 50%;
  height: auto;
  vertical-align: middle;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.swipebox-action,
.swipebox-caption {
  background-color: rgba(13, 13, 13, 0.9);
  opacity: 0.95;
  position: absolute;
  left: 0;
  z-index: 999;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 100%;
}
.swipebox-action {
  bottom: 0;
  transition: all 0.3s ease-in;
}
.swipebox-action.visible-bars,
.swipebox-action.force-visible-bars {
  bottom: 0;
}
.swipebox-caption {
  top: 0;
  text-align: center;
  color: #fff;
  font-size: 1.1em;
  transition: all 0.3s ease-in;
}
.swipebox-caption.visible-bars,
.swipebox-caption.force-visible-bars {
  top: 0;
}
.swipebox-action .swipebox-prev,
.swipebox-action .swipebox-next,
.swipebox-action .swipebox-close {
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  line-height: 50px;
  top: 0;
}
.swipebox-action .swipebox-prev i,
.swipebox-action .swipebox-next i,
.swipebox-action .swipebox-close i {
  color: #fff;
  font-size: 30px;
  line-height: 50px;
  font-weight: 700;
}
.swipebox-action .swipebox-close {
  left: 40px;
}
.swipebox-action .swipebox-prev {
  right: 100px;
}
.swipebox-action .swipebox-next {
  right: 40px;
}
@media (max-width: 640px) {
  .swipebox-slider .img-slide img {
    width: 65%;
  }
}
/********���ֲ����� **********/
.more-button {
  text-align: right;
}
.more {
  background: url(../img/rdd.png) no-repeat -9px -6px;
  color: #393939;
  font-size: 1em;
  font-weight: 400;
  padding: 0.3em 1.5em;
  display: inline-block;
  text-decoration: none;
  border-radius: 3px;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -msborder-radius: 3px;
}
.more:hover {
  color: #e6a549;
}
/*************������־**************/
.music-coding {
  padding: 0 0 3em;
}
.music-coding h3 {
  font-size: 1.5em;
  color: #393939;
  margin: 1em 0;
}
.music-coding h3 span {
  color: #d4a258;
}
.music-coding p {
  font-size: 0.9em;
  color: #141414;
  line-height: 1.8em;
  margin: 1em 0;
}
.coding-view-left {
  float: left;
  width: 20%;
  margin-right: 5%;
}
.coding-view-right {
  float: left;
  width: 75%;
}
.coding-view-right p {
  font-size: 0.9em;
  color: #141414;
  line-height: 1.8em;
  margin: 1em 0;
}
.coding-view-right h5 {
  font-size: 1em;
  color: #6b6a6a;
  padding: 0 0 0.3em;
}
.coding-view-right h5 span {
  color: #d4a258;
}
.coding-view-top {
  margin: 0;
}
.coding-view-right p {
  font-size: 0.9em;
  color: #141414;
  line-height: 1.8em;
  margin: 1em 0;
}
.coding-view-right h5 {
  font-size: 1em;
  color: #6b6a6a;
  padding: 0 0 0.3em;
}
@media (max-width: 1024px) {
  .about-me h3 {
    font-size: 1.4em;
  }
  .music-coding h3 {
    font-size: 1.4em;
  }
}
@media (max-width: 768px) {
  .about-me h3 {
    font-size: 1.2em;
  }
  .more-button {
    text-align: center;
  }
  .music-coding h3 {
    font-size: 1.4em;
    text-align: center;
  }
}
@media (max-width: 640px) {
  .about-me h3 {
    font-size: 1.1em;
    padding: 1em 1em;
  }
  .about-me {
    margin: 2em 0;
  }
  .music-coding h3 {
    font-size: 1.3em;
  }
}
@media (max-width: 480px) {
  .about-me h3 {
    font-size: 1em;
    padding: 1em 1em;
  }
  .col-xxs-6 {
    float: left;
    width: 50%;
  }
  .col-xxs-12 {
    float: left;
    width: 100%;
  }
  .music-coding h3 {
    font-size: 1.2em;
  }
}
@media (max-width: 320px) {
  .about-me h3 {
    font-size: 0.875em;
    padding: 1em 1em;
  }
  .music-coding {
    padding: 0 0 1em;
  }
  .music-coding h3 {
    font-size: 1.1em;
  }
  .music-view p {
    font-size: 0.8125em;
    overflow: hidden;
    height: 66px;
  }
  .coding-view {
    margin-top: 2em;
  }
  .coding-view-left {
    float: none;
    width: 100%;
    margin-bottom: 5%;
  }
  .coding-view-right {
    float: none;
    width: 100%;
    text-align: center;
  }
  .coding-view-right h5 {
    overflow: hidden;
    height: 15px;
  }
}
/************************ʵ����ҳ����ѧ��ֹ��ҳ��***************************/
.coding-main,
.learn-main {
  padding: 2em 0;
}
.coding-grid,
.learn-grid {
  margin-bottom: 3em;
  padding: 15px;
  background: #f4f4f4;
  transition: all 0.3s ease-in;
}
.coding-grid p,
.learn-grid p {
  font-size: 1em;
  line-height: 1.8em;
  color: #141414;
  padding-top: 1.2em;
  position: relative;
}
.learn-grid .col-xs-3 {
  padding-left: 0;
  padding-right: 0;
}
.learn-grid .col-xs-9 {
  padding-right: 0;
}
.learn-grid .learn-more-button1 {
  float: right;
  margin: 0;
}
.learn-grid .learn-more-button1 > span {
  margin: 0;
  text-align: right;
}
.learn-grid .post-title {
  padding: 0;
  margin: 0;
}
.learn-grid p {
  padding-top: 0.5em;
}
.coding-grid:hover,
.learn-grid:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.post-title {
  font-size: 1.5em;
  padding: 0.5em 0;
}
.post-title a {
  font-weight: 600;
  color: #e6a549;
}
.post-title a:hover {
  color: #898989;
  text-decoration: none;
}
.coding-links {
  padding: 8px 0px;
  border-bottom: 1px solid rgba(120, 124, 127, 0.4);
  border-top: 1px solid rgba(120, 124, 127, 0.4);
  margin: 30px 0 0px 0;
}
.coding-links li {
  display: inline-block;
  margin: 0 25px 0 0;
  color: #999;
  font-size: 0.85em;
}
.learn-links {
  padding: 8px 0px;
}
.learn-links li {
  display: inline-block;
  margin: 0 25px 0 0;
  color: #999;
  font-size: 0.85em;
}
.more-button1 {
  text-align: left;
  margin: 1.5em 0;
}
.coding-rsidebar ul,
.learn-rsidebar ul {
  padding: 0;
  margin-bottom: 30px;
}
.coding-rsidebar ul li a,
.learn-rsidebar ul li a {
  display: block;
  font-size: 0.9em;
  color: #141414;
  line-height: 3em;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.coding-rsidebar ul li a i,
.learn-rsidebar ul li a i {
  margin-right: 10px;
  color: #e6a549;
}
.coding-rsidebar ul li a:hover,
.learn-rsidebar ul li a:hover {
  color: #e6a549;
}
.coding-rsidebar h3,
.learn-rsidebar h3 {
  font-size: 1.5em;
  color: #e6a549;
}
.right-pagination {
  text-align: right;
}
.pagination li a {
  border: 1px solid #d4a258;
}
.pagination li > a,
.pagination li > span {
  color: #d4a258;
}
.pagination li a:hover {
  border: 1px solid #d4a258;
  background: #d4a258;
  color: #fff;
}
@media (max-width: 1024px) {
  .post-title {
    font-size: 1.4em;
  }
  .coding-rsidebar h3,
  .learn-rsidebar h3 {
    font-size: 1.4em;
  }
}
@media (max-width: 768px) {
  .post-title {
    font-size: 1.3em;
  }
  .coding-links {
    margin: 25px 0 0 0;
  }
  .coding-links li {
    margin: 0 20px 0 0;
    font-size: 0.85em;
  }
  .learn-links {
    margin: 10px 0 0 0;
  }
  .learn-links li {
    margin: 0 20px 0 0;
    font-size: 0.85em;
  }
  .more-button1 {
    text-align: center;
  }
  .coding-rsidebar h3,
  .learn-rsidebar h3 {
    font-size: 1.3em;
  }
  .coding-rsidebar ul,
  .learn-rsidebar ul {
    margin-bottom: 25px;
  }
  .coding-rsidebar ul li a,
  .learn-rsidebar ul li a {
    font-size: 0.875em;
    line-height: 2.5em;
  }
  .coding-rsidebar ul li a i,
  .learn-rsidebar ul li a i {
    margin-right: 10px;
  }
}
@media (max-width: 640px) {
  .coding-grid p,
  .learn-grid p {
    font-size: 0.875em;
  }
  .post-title {
    font-size: 1.2em;
  }
  .coding-links {
    margin: 25px 0 0 0;
  }
  .coding-links li {
    margin: 0 15px 0 0;
    font-size: 0.82em;
  }
  .learn-links {
    margin: 10px 0 0 0;
  }
  .learn-links li {
    margin: 0 15px 0 0;
    font-size: 0.82em;
  }
  .coding-rsidebar h3,
  .learn-rsidebar h3 {
    font-size: 1.2em;
  }
  .pagination {
    margin: 15px auto;
  }
  .pagination li > a,
  .pagination li > span {
    font-size: 12px;
    padding: 5px 10px;
  }
}
@media (max-width: 480px) {
  .post-title {
    font-size: 1.1em;
  }
  .coding-links {
    margin: 20px 0 0 0;
  }
  .coding-links li {
    margin: 0 10px 0 0;
    font-size: 0.8em;
  }
  .learn-links {
    margin: 0;
  }
  .learn-links li {
    margin: 0 10px 0 0;
    font-size: 0.8em;
  }
  .coding-rsidebar h3,
  .learn-rsidebar h3 {
    font-size: 1.1em;
  }
  .coding-rsidebar ul,
  .learn-rsidebar ul {
    margin-bottom: 20px;
  }
  .coding-rsidebar ul li a,
  .learn-rsidebar ul li a {
    font-size: 0.8em;
    line-height: 2em;
  }
  .coding-rsidebar ul li a i,
  .learn-rsidebar ul li a i {
    margin-right: 8px;
  }
  .learn-grid .learn-more-button1 {
    padding-top: 5px;
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .learn-grid .learn-more-button1 > span {
    margin: 0;
    text-align: center;
  }
}
@media (max-width: 320px) {
  .coding-grid,
  .learn-grid {
    margin-bottom: 1em;
  }
  .coding-grid p,
  .learn-grid p {
    font-size: 0.812em;
  }
  .post-title {
    font-size: 1em;
  }
  .coding-links,
  .learn-links {
    margin: 15px 0 0 0;
  }
  .coding-links li,
  .learn-links li {
    display: inline-block;
    margin: 0 3px 0 0;
    color: #999;
    font-size: 0.75em;
  }
  .coding-rsidebar h3,
  .learn-rsidebar h3 {
    font-size: 1em;
  }
  .coding-rsidebar ul,
  .learn-rsidebar ul {
    margin-bottom: 15px;
  }
  .coding-rsidebar ul li a,
  .learn-rsidebar ul li a {
    font-size: 0.75em;
    line-height: 1.8em;
  }
  .coding-rsidebar ul li a i,
  .learn-rsidebar ul li a i {
    margin-right: 6px;
  }
}
/**********************************ͼƬչʾҳ��********************************/
.picture-main .row div {
  padding: 0;
}
.picture-main .row {
  padding: 0 15px;
}
.picture-main .row p {
  font-size: 1.4em;
  font-weight: 600;
  color: #e6a549;
}
.picture-list div.col-sm-9 {
  position: relative;
  padding: 0 0 30px 0;
}
.picture-list div.col-sm-9 .col-xs-3 {
  overflow: hidden;
}
.picture-list div.col-sm-9 .col-xs-3 img {
  transition: all 0.3s ease-in;
}
.picture-list div.col-sm-9 .col-xs-3 img:hover {
  transform: scale(1.05);
}
.picture-list .col-sm-9:after {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #e6a549;
  position: absolute;
  left: -50px;
  top: 0;
  transform: translate(-50%, 0) scale(1);
  transition: all 0.3s ease-in;
}
.picture-list .col-sm-9:before {
  content: '';
  width: 2px ;
  background: #e6a549;
  height: 100%;
  position: absolute;
  left: -50px;
  top: 0;
  transform: translate(-50%, 0);
}
.picture-list:hover .col-sm-9:after {
  transform: translate(-50%, 0) scale(1.2);
}
.more-button1 {
  text-align: center;
  margin: 1.5em 0;
}
@media (max-width: 1024px) {
  .picture-main .row p {
    font-size: 1.3em;
  }
  .picture-list div.col-sm-9 {
    padding: 0 0 25px 0;
  }
  .picture-list .col-sm-9:after,
  .picture-list .col-sm-9:before {
    left: -30px;
  }
}
@media (max-width: 768px) {
  .picture-main .row {
    text-align: center;
    padding: 12px 15px;
  }
  .picture-main .row p {
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 20px;
  }
  .picture-main .row p span {
    width: 25%;
    background: #8C8989;
    height: 1px;
    display: block;
    margin: 0 auto;
    margin-top: 26px;
    position: relative;
  }
  .picture-main .row p span:after {
    content: ' ';
    position: absolute;
    background: #e6a549;
    height: 7px;
    display: block;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 640px) {
  .picture-main .row {
    padding: 10px 15px;
  }
  .picture-main .row p {
    font-size: 1.2em;
  }
  .picture-main .row p span {
    width: 30%;
    margin-top: 20px;
  }
}
@media (max-width: 480px) {
  .picture-main .row {
    padding: 8px 15px;
  }
  .picture-main .row p {
    font-size: 1.1em;
  }
  .picture-main .row p span {
    width: 40%;
    margin-top: 18px;
  }
}
@media (max-width: 320px) {
  .picture-main .row p {
    font-size: 1em;
  }
  .picture-main .row p span {
    width: 45%;
    margin-top: 15px;
  }
}
/**********************************���ֲ�����ҳ��********************************/
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  float: none;
  position: absolute;
  opacity: 0;
  z-index: 1;
  display: list-item;
  transition: opacity 500ms ease-in-out;
}
.rslides li.music-slide {
  float: left;
  position: relative;
  opacity: 1;
  z-index: 2;
  transition: opacity 500ms ease-in-out;
}
.music-title {
  padding-bottom: 15px;
}
.music-title .col-xs-6 {
  padding: 0;
  height: 70px;
  line-height: 70px;
}
.music-title .music-logo {
  font-size: 32px;
  color: #556A7F;
}
.music-title .music-logo span {
  font-size: 48px;
  font-weight: 400;
  color: #e6a549;
}
.music-title .search-music {
  vertical-align: middle;
  position: relative;
  background: url(../img/sbac.png) no-repeat 28px 6px;
  padding: 0px;
  height: 41px;
  line-height: 41px;
  width: 230px;
  float: right;
  display: block;
  margin-top: 20px;
}
.music-title .search-music input[type="text"] {
  outline: none;
  color: #555;
  background: none;
  font-size: 15px;
  border: none;
  width: 195px;
  padding-right: 35px;
}
.music-title .search-music span {
  background: url('../img/sprit-1.png') no-repeat 0px 1px;
  padding: 17.5px 17.5px;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 4px;
  right: 0px;
}
.music-list {
  margin-bottom: 50px;
}
.music-list .col-xs-3 {
  padding: 0;
  background: #5f5e5e;
  color: #fff;
  transition: all 0.3s ease-in;
}
.music-list .col-xs-3:hover,
.music-list .col-xs-3:nth-child(2):hover,
.music-list .col-xs-3:nth-child(4):hover {
  background: #e6a549;
}
.music-list .col-xs-3:nth-child(2),
.music-list .col-xs-3:nth-child(4) {
  background: #454545;
}
.music-list-title {
  font-weight: 400;
  margin: 35px 0;
  font-size: 32px;
}
.playlist-item-box {
  position: relative;
  transition: all 0.3s ease-in;
  overflow: hidden;
}
.playlist-item-box img {
  transform: scale(1);
  transition: all 0.3s ease-in;
}
.playlist-item-box .mod-cover-mask {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  transition: all 0.3s ease-in;
  position: absolute;
}
.playlist-item-box .mod-cover-icon-play {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 70px;
  height: 70px;
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  background: url('../img/cover_play.png');
  transition: all 0.3s ease-in;
}
.playlist-item-box:hover img {
  transform: scale(1.05);
}
.playlist-item-box:hover .mod-cover-mask {
  opacity: 0.3;
}
.playlist-item-box:hover .mod-cover-icon-play {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.playlist-title {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 30px 20px 0 20px;
}
.playlist-title a {
  color: #fff;
}
.playlist-count {
  margin-bottom: 50px;
  text-align: center;
}
.player-list {
  table-layout: fixed;
}
.player-list tr {
  cursor: pointer;
}
.player-list thead tr th:first-child {
  width: 5%;
}
.player-list thead tr th:nth-child(2) {
  width: 60%;
}
.player-list thead tr th:nth-child(3) {
  width: 20%;
}
.player-list thead tr th:nth-child(4) {
  width: 15%;
}
.player-list tbody tr td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.player-box {
  vertical-align: middle;
  width: 100%;
}
.player-box .music-player-now {
  padding: 0;
}
.player-box .music-canvas {
  vertical-align: middle;
  height: 110px;
  line-height: 110px;
}
.player-box .music-rotate {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  vertical-align: middle;
  position: relative;
}
.player-box .music-rotate .music-canvas-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.player-box .music-rotate .music-canvas-active {
  width: 80%;
  height: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.player-box .music-playing {
  animation: music-btn 3s linear infinite;
  -webkit-animation: music-btn 3s linear infinite;
}
.player-box .glyphicon-box {
  vertical-align: middle;
  text-align: center;
  height: 110px;
  line-height: 110px;
}
.player-box .glyphicon-box i.glyphicon {
  vertical-align: middle;
  font-size: 32px;
  cursor: pointer;
}
.player-box .music-line {
  height: 110px;
  vertical-align: middle;
  padding-top: 30px;
}
.player-box .music-line p {
  float: right;
}
.player-box .music-line span {
  display: inline-block;
  width: 100%;
  height: 5px;
  background: #5f5e5e;
  cursor: pointer;
}
.player-box .music-line span .music-line-model {
  display: block;
  width: 0px;
  height: 5px;
  background: #e6a549;
  position: relative;
  cursor: pointer;
}
.player-box .music-line span .music-line-model:after {
  content: '';
  width: 15px;
  height: 15px;
  background: #e6a549;
  border-radius: 15px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}
@-webkit-keyframes music-btn {
  form {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@keyframes music-btn {
  form {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@media (max-width: 1024px) {
  .music-canvas {
    height: 120px;
    line-height: 120px;
  }
  .glyphicon-box {
    vertical-align: middle;
    text-align: center;
    height: 120px;
    line-height: 120px;
  }
  .glyphicon-box i.glyphicon {
    vertical-align: middle;
    font-size: 28px;
    cursor: pointer;
  }
  .music-line {
    height: 120px;
    vertical-align: middle;
    padding-top: 45px;
  }
}
@media (max-width: 768px) {
  .music-list {
    margin-bottom: 40px;
  }
  .music-list .music-list-title {
    margin: 40px 0;
    font-size: 40px;
  }
  .music-list .playlist-title {
    padding: 25px 15px 0 15px;
    font-size: 16px;
  }
  .music-list .playlist-count {
    font-size: 12px;
    margin-bottom: 40px;
  }
  .player-box .music-canvas {
    height: 120px;
    line-height: 120px;
  }
  .player-box .glyphicon-box {
    vertical-align: middle;
    text-align: center;
    height: 120px;
    line-height: 120px;
  }
  .player-box .glyphicon-box i.glyphicon {
    vertical-align: middle;
    font-size: 24px;
    cursor: pointer;
  }
  .player-box .music-line {
    height: 120px;
    vertical-align: middle;
    padding-top: 45px;
  }
}
@media (max-width: 640px) {
  .music-list {
    margin-bottom: 40px;
  }
  .music-list .music-list-title {
    margin: 30px 0;
    font-size: 36px;
  }
  .music-list .playlist-title {
    padding: 20px 15px 0 15px;
    font-size: 14px;
  }
  .music-list .playlist-count {
    font-size: 10px;
    margin-bottom: 32px;
  }
  .player-box .music-canvas {
    height: 120px;
    line-height: 120px;
  }
  .player-box .glyphicon-box {
    vertical-align: middle;
    text-align: center;
    height: 120px;
    line-height: 120px;
  }
  .player-box .glyphicon-box i.glyphicon {
    vertical-align: middle;
    font-size: 20px;
    cursor: pointer;
  }
  .player-box .music-line {
    height: 120px;
    vertical-align: middle;
    padding-top: 45px;
  }
}
@media (max-width: 480px) {
  .music-list {
    margin-bottom: 30px;
  }
  .music-list .music-list-title {
    margin: 28px 0;
    font-size: 32px;
  }
  .music-list .playlist-title {
    padding: 15px 12px 0 12px;
    font-size: 14px;
  }
  .music-list .playlist-count {
    font-size: 10px;
    margin-bottom: 25px;
  }
  .player-box .music-canvas {
    height: 120px;
    line-height: 120px;
  }
  .player-box .glyphicon-box {
    vertical-align: middle;
    text-align: center;
    height: 120px;
    line-height: 120px;
  }
  .player-box .glyphicon-box i.glyphicon {
    vertical-align: middle;
    font-size: 28px;
    cursor: pointer;
  }
  .player-box .music-line {
    height: 120px;
    vertical-align: middle;
    padding-top: 10px;
  }
}
@media (max-width: 320px) {
  .music-list {
    margin-bottom: 30px;
  }
  .music-list .music-list-title {
    margin: 25px 0;
    font-size: 28px;
  }
  .music-list .playlist-title {
    padding: 12px 10px 0 10px;
    font-size: 14px;
  }
  .music-list .playlist-count {
    font-size: 10px;
    margin-bottom: 20px;
  }
  .music-title {
    padding: 10px 0;
  }
  .music-title .col-xs-6 {
    padding: 0;
    height: 40px;
    line-height: 40px;
  }
  .music-title .music-logo {
    font-size: 18px;
    color: #556A7F;
  }
  .music-title .music-logo span {
    font-size: 28px;
    font-weight: 400;
    color: #e6a549;
  }
  .music-title .search-music {
    margin-top: 0px;
  }
  .music-title .search-music input[type="text"] {
    font-size: 12px;
  }
}
/***********���԰�*************/
.message-title {
  border-bottom: 1px solid #e6a549;
}
.message-content {
  width: 100%;
  padding-bottom: 20px;
}
.message-content .message-list {
  width: 100%;
  padding-top: 15px;
}
.message-content .message-list .message-user-img {
  padding-top: 3px;
  padding-left: 5px;
  width: 55px;
  float: left;
}
.message-content .message-list .message-user-img img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
.message-content .message-user-name {
  box-sizing: border-box;
  border-bottom: 1px solid #e6a549;
  width: 100%;
  padding-left: 70px;
  padding-bottom: 25px;
}
.message-content .message-user-name .font-color {
  color: #e6a549;
}
.message-content .message-user-name p.m-inner {
  padding: 10px 0;
  min-height: 90px;
}
.message-content .line-message {
  width: 100%;
  height: 0;
  border-bottom: 1px solid #e6a549;
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
}
.message-content .line-message em {
  transform: rotate(45deg);
  border-left: 1px solid #e6a549;
  border-top: 1px solid #e6a549;
  width: 10px;
  height: 10px;
  background: #fff;
  position: absolute;
  bottom: -5px;
  left: 20px;
}
.message-content .back-message {
  width: 376px;
}
.message-content .back-message ul li {
  margin-bottom: 15px;
}
.message-content .back-message ul li .little-img {
  width: 35px;
  height: 35px;
  float: left;
}
.message-content .back-message ul li .little-img img {
  width: 35px;
  height: 35px;
  border-radius: 5px;
}
.message-content .back-message ul li .little-message {
  box-sizing: border-box;
  width: 100%;
  padding-left: 45px;
}
.message-content .back-message .false-textarea {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #e6a549;
  padding-left: 5px;
  height: 30px;
  line-height: 28px;
  cursor: text;
}
.message-content .back-message .false-textarea:hover {
  border: 1px solid #5f5e5e;
}
.message-content .back-message .ture-textarea {
  box-sizing: border-box;
  width: 100%;
  display: none;
}
.message-content .back-message .ture-textarea .btn {
  outline: none;
}
.message-content .back-message .ture-textarea textarea {
  border: 1px solid #e6a549;
  width: 376px;
  height: 44px;
  margin-bottom: 5px;
  border-radius: 0;
}
.message-content .back-message .ture-textarea p {
  width: 100%;
}
.message-content .back-message .ture-textarea p .t_button button {
  color: #fff;
  background: #e6a549;
  width: 50px;
  -webkit-tap-highlight-color: transparent;
}
.message-content .back-message .ture-textarea p .t_button a {
  width: 40px;
  color: #e6a549;
}
.message-content .back-message .ture-textarea p .t_rule {
  padding-right: 20px;
  font-size: 12px;
  float: right;
}
@media (max-width: 480px) {
  .message-content .back-message {
    width: 200px;
  }
  .message-content .back-message .ture-textarea textarea {
    width: 200px;
  }
}
@media (max-width: 320px) {
  .message-content .back-message {
    width: 150px;
  }
  .message-content .back-message .ture-textarea textarea {
    width: 150px;
  }
}
