@theme-color:#d4a258;
@theme-color02:#e6a549;
@header-border:#5f5e5e;
@header-list:#556A7F;
@import "reset";
@import "commen";
@import "start";
@import "codelearn";
@import "picture";
//@import "music";
@import "message";





