
<div class="picture-main">
    <div class="container">
        <div class="row picture-list">
            <div class="col-sm-3">
                <p>2016年-北京香山 <span></span></p>
            </div>
            <div class="col-sm-9">
                <div class="col-xs-3 col-xxs-6">
                    <a href=""><img ng-src="img/img9.jpg" class="img-responsive img-thumbnail" ng-click="chooseWho('swipebox-overlay02',0)" alt=""/></a>
                </div>
                <div class="col-xs-3 col-xxs-6">
                    <a href=""><img ng-src="img/img9.jpg" class="img-responsive img-thumbnail" ng-click="chooseWho('swipebox-overlay02',1)" alt=""/></a>
                </div>
                <div class="col-xs-3 col-xxs-6">
                    <a href=""><img ng-src="img/img9.jpg" class="img-responsive img-thumbnail" ng-click="chooseWho('swipebox-overlay02',2)" alt=""/></a>
                </div>
                <div class="col-xs-3 col-xxs-6">
                    <a href=""><img ng-src="img/img9.jpg" class="img-responsive img-thumbnail" ng-click="chooseWho('swipebox-overlay02',3)" alt=""/></a>
                </div>
            </div>
        </div>
        <div class="row picture-list">
            <div class="col-sm-3">
                <p>2016年-北京香山 <span></span></p>
            </div>
            <div class="col-sm-9">
                <div class="col-xs-3 col-xxs-6">
                    <a href=""><img ng-src="img/img9.jpg" class="img-responsive img-thumbnail" ng-click="chooseWho('swipebox-overlay03',0)" alt=""/></a>
                </div>
                <div class="col-xs-3 col-xxs-6">
                    <a href=""><img ng-src="img/img9.jpg" class="img-responsive img-thumbnail" ng-click="chooseWho('swipebox-overlay03',1)" alt=""/></a>
                </div>
                <div class="col-xs-3 col-xxs-6">
                    <a href=""><img ng-src="img/img9.jpg" class="img-responsive img-thumbnail" ng-click="chooseWho('swipebox-overlay03',2)" alt=""/></a>
                </div>
                <div class="col-xs-3 col-xxs-6">
                    <a href=""><img ng-src="img/img9.jpg" class="img-responsive img-thumbnail" ng-click="chooseWho('swipebox-overlay03',3)" alt=""/></a>
                </div>
                <div class="col-xs-3 col-xxs-6">
                    <a href=""><img ng-src="img/img9.jpg" class="img-responsive img-thumbnail" ng-click="chooseWho('swipebox-overlay03',1)" alt=""/></a>
                </div>
                <div class="col-xs-3 col-xxs-6">
                    <a href=""><img ng-src="img/img9.jpg" class="img-responsive img-thumbnail" ng-click="chooseWho('swipebox-overlay03',2)" alt=""/></a>
                </div>
                <div class="col-xs-3 col-xxs-6">
                    <a href=""><img ng-src="img/img9.jpg" class="img-responsive img-thumbnail" ng-click="chooseWho('swipebox-overlay03',3)" alt=""/></a>
                </div>
            </div>
        </div>
        <div class="more-button2 text-center"><a class="more" href="">Read More</a></div>
        <div class="alert text-center">
            <p>没有更多数据</p>
        </div>
    </div>
</div>
<div id="swipebox-overlay02" class="swipebox-overlay" >
    <ul class="swipebox-slider">
        <li class="img-slide">
            <img class="img-responsive" ng-src="img/img13.jpg" alt=""/>
        </li>
        <li class="img-slide">
            <img class="img-responsive" ng-src="img/img14.jpg" alt=""/>
        </li>
        <li class="img-slide">
            <img class="img-responsive" ng-src="img/img15.jpg" alt=""/>
        </li>
        <li class="img-slide">
            <img class="img-responsive" ng-src="img/img16.jpg" alt=""/>
        </li>
    </ul>
    <div  class="swipebox-caption">img title</div>
    <div  class="swipebox-action">
        <a  class="swipebox-close" ng-click="closeSwipebox()"><i class="">&times;</i></a>
        <a  class="swipebox-prev" ng-click="prevSwipebox()"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a  class="swipebox-next" ng-click="nextSwipebox()"><i class="glyphicon glyphicon-chevron-right"></i></a>
    </div>
</div>
<div id="swipebox-overlay03" class="swipebox-overlay" >
    <ul class="swipebox-slider">
        <li class="img-slide">
            <img class="img-responsive" ng-src="img/img13.jpg" alt=""/>
        </li>
        <li class="img-slide">
            <img class="img-responsive" ng-src="img/img14.jpg" alt=""/>
        </li>
        <li class="img-slide">
            <img class="img-responsive" ng-src="img/img15.jpg" alt=""/>
        </li>
        <li class="img-slide">
            <img class="img-responsive" ng-src="img/img16.jpg" alt=""/>
        </li>
    </ul>
    <div  class="swipebox-caption">img title</div>
    <div  class="swipebox-action">
        <a  class="swipebox-close" ng-click="closeSwipebox()"><i class="">&times;</i></a>
        <a  class="swipebox-prev" ng-click="prevSwipebox()"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a  class="swipebox-next" ng-click="nextSwipebox()"><i class="glyphicon glyphicon-chevron-right"></i></a>
    </div>
</div>
